<center>
	<% if @event %>
		<p>Bobo is currently planning <%= @event.title %></p>
	<% else %>
		<p>Bobo isn't planning an event right now!
		<%= button_to 'Enlist Bobo', new_event_path, :class => 'btn btn-primary', :method => 'get' %>
		</p>
	<% end %>
</center>

<p>
<%= form_tag(users_list_friendships_path, :method => :get) do %>
<h4>Search for a user:</h4>
<%= text_field_tag :name, params[:name]%>
<%= submit_tag "Search ", :name => nil, :class => 'btn btn-success' %>
<% end %>
</p>	

<div class = 'container'>
	<div class = 'span8'>
		<h4>Friends</h4>
		<%= render 'friends' %>
	</div>
	<div class = 'span4' id = 'update-div' style = "height:540px;overflow:auto">
		<%= render 'events/invite_list' %>
	</div>
</div>
