<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
<div class = 'container-fluid'>
	<div class="span6">
		<h4>Event name</h4>
		<%= f.text_field :title %>
	</div>
	<div class = 'span6'>
		<h4>Event location</h4>
		<%= f.text_field :location %>
	</div>
</div>
<h4>My event begins promptly at:</h4>
<div class = 'container-fluid'>
	<div class = 'span6'>
		<em>(yyyy/mm/dd)</em> <br/>
		<%= f.text_field :startDate, :class => 'datepicker', :size => 10, :maxlength => 10 %> 
	</div>
	<div class = 'span6'>
		<em>(hours:minutes)</em> <br/>
		<%= f.text_field :startHour, :size => 5, :maxlength => 5 %>
	</div>
</div>

<h4>When do I expect my event to end?</h4>
<div class = 'container-fluid'>
	<div class = 'span6'>
		<%= f.text_field :endDate, :class => 'datepicker', :size => 10, :maxlength => 10 %> 
	</div>
	<div class = 'span6'>
		<%= f.text_field :endHour, :size => 5, :maxlength => 5 %>
	</div>
</div>
  	<form action = "/events">
    <input type = "submit" class = 'btn btn-success' value = "Plan my event" />
    </form>
<% end %>



