<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  	Invited Friends:
  	<% if @invited_array %>
  		<% @invited_array.each do |friend| %>
  		  <%= friend.name %>
  		<% end %>
    <% else %>
      You haven't invited anyone to this event.
    <% end %>
    <%= link_to "Invite more friends", user_friends_path(:event => @event.id), :class => 'btn', :method => 'post' %>
  </div>


  <div class="field">
    <%= f.label :startTime %>
    <%= f.datetime_select :startTime %>
  </div>
  <div class="field">
    <%= f.label :endTime %>
    <%= f.datetime_select :endTime %>
  </div>
  <div class="field">
  	<%= f.label :title %>
  	<%= f.text_field :title %>
  </div>
  <div class = "field"> Calendar<br />
  	<% @calendar.each do |cal| %>
  		<div class = 'span4'>
	  		<h4><%= cal.title %></h4>
			<div class = 'checkbox'><%= check_box_tag "event[calendar_ids][]" ,cal.id, 
			@event.in_calendar?(cal) %></div>
		</div>
  	<% end %>
  </div>
  
  	  	<form action = "/events">
	    <input type = "submit" class = 'btn btn-primary' value = "Okay!" />
	    </form>
<% end %>
