<h4>
	<% if @event %> 
		<%= @event.invited_users.count%> 
		<% if @event.invited_users.count == 1 %> 
			Friend
		<% else %>
			Friends 
		<% end %> 
		currently invited to this event:</h4>
	<% end %>
<div class = 'thumbnail'>
	<% if @event %>
		<% @event.invited_users.each do |user| %>
			<div class = 'thumbnails'>
				<td><b><%= user.name %></b></td>
				<td><%= image_tag(user.image_url, :class => 'span4')%>
					<% unless user.id == @event.user_id %>
						<%= button_to "Uninvite", invite_friend_events_path(:event => @event, :user =>user.id,:path=>false),
						:remote => true, :method => "get", :class => 'btn btn-warning'%>
						<% if @event.admin_users.include?(user) 
							button_title = "Remove Admin" 
							button_class = "btn btn-warning"
							path = "admin remove" 
						   else
						   	button_title = "Make Admin"
						   	button_class = "btn btn-primary" 
						   	path = "admin add" %>
						<%= button_to button_title, invite_friend_events_path(:event => @event, :user => user.id, :path => path),
						:remote => true, :method => "get", :class => button_class %>
						<% end %>					
					<% end %>
				</td>
				<br/>
			</div>
		<% end %>
	<% end %>
</div>
