<center><h4><%= link_to "Get your Google Calendar events", omniauth_authorize_path(current_user, 'google_oauth2'),
		:class => 'zocial googleplus', :method => :post, :id => 'google-import', 
		:title => "Import Google Events"  %></h4><center>

		<br/>

<div class = 'container-fluid'>
	<div class = 'span6'>		
		<h4>Events you've been invited to:</h4>
	</div>
	<div class = 'span6'>
		<h4>Your Events:</h4>
	</div>
</div>
<div class = 'container-fluid'>
	<div class = 'span6' style = "height:450px;overflow:auto">
		<table class = 'table'>
		  <tr>
		  	<th>Event</th>
		  	<th>Host</th>
		    <th>Begins</th>
		    <th>Ends</th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @invited_events.each do |event| %>
		  <tr>
		  	<td id='event-title'><%= event.title %></td>
		  	<td><%= User.find(event.user_id).name %></td>
		    <td><%= event.start_at %></td>
		    <td><%= event.end_at %></td>
		    <td><%= link_to 'Look at it', edit_event_path(event), :class => 'btn' %></td>
		  </tr>
		<% end %>
		</table>
	</div>
	<div class='span6' style="height:450px;overflow:auto">
		<table class ='table'>
		<tr>
			<th>Event</th>
			<th>Begins</th>
			<th>Ends</th>
		</tr>	
		<% @my_events.each do |event| %>
		<tr>
		  	<td id ='event-title'><%= event.title %></td>
		    <td><%= event.start_at %></td>
		    <td><%= event.end_at %></td>
		    <td><%= link_to 'Fix it up', edit_event_path(event), :class => 'btn' %>
		    <%= button_to 'Cancel this event', event, :confirm => 'Are you sure?', 
		    :method => :delete, :class => 'btn btn-danger' %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
		
		<br />
		<br />
		<p>
			<%= button_to 'Create a new event', new_event_path, :class => 'btn btn-primary', :method => 'get' %>
		</p>	
