<center><h3>Your Event Headquarters</h3></center> <Br/>

<div class = 'container'>
	<div class = 'span6'>
		<table class = 'table'>
			<h4>Events you've been invited to:</h4>
		  <tr>
		  	<th>Event</th>
		  	<th>Host</th>
		    <th>Begins</th>
		    <th>Ends</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		
		<% @invited_events.each do |event| %>
		  <tr>
		  	<td><%= event.title %></td>
		  	<td><%= User.find(event.user_id).name %></td>
		    <td><%= event.startTime %></td>
		    <td><%= event.endTime %></td>
		    <Td><%= event.calendar_ids %></Td>
		    <td><%= link_to 'Look at it', edit_event_path(event), :class => 'btn' %></td>
		  </tr>
		<% end %>
		</table>
	</div>
	<div class='span6'>
		<table class ='table'>
			<h4>Your Events:</h4>
		<tr>
			<th>Event</th>
			<th>Begins</th>
			<th>Ends</th>
		</tr>	
		<% @my_events.each do |event| %>
		<tr>
		  	<td><%= event.title %></td>
		    <td><%= event.startTime %></td>
		    <td><%= event.endTime %></td>
		    <td><%= link_to 'Fix it up', edit_event_path(event), :class => 'btn' %>
		    <%= button_to 'Cancel this event', event, :confirm => 'Are you sure?', 
		    :method => :delete, :class => 'btn btn-danger' %></td>
		  </tr>
		<% end %>
		</table>
	</div>
</div>
		
		<br />
		<br />
		<p>
			<%= button_to 'Create a new event', new_event_path, :class => 'btn btn-primary', :method => 'get' %>
		</p>	
