<p id="notice"><%= notice %></p>
<div class = 'container-fluid'>
	<div class = 'span8'>
		<table class = 'table table-striped'>
			<tr>
				<th>Title</th>
				<th>Location</th>
				<th>Starts</th>
				<th>Ends</th>
			</tr>
			<tr>
				<td><%= @event.title %></td>
				<td><%= @event.location %></td>
			  	<td><%= @event.start_at %></td>
			  	<td><%= @event.end_at %></td>
		  	</tr>
		</table>
		<%= render 'calendars/form' %>
	</div>
	<div class = 'span4'>
		<div id = 'update-div' style="height:540px;overflow:auto">
			<%= render 'events/invite_list' %>
		</div>
	</div>
</div>
