<%= form_tag(users_list_friendships_path, :method => :get) do %>
	<h4>Search for a user:</h4>
	<%= text_field_tag :name, params[:name]%>
	<%= submit_tag "Search ", :name => nil, :class => 'btn btn-success' %>
<% end %>
<% if @users != 35 %>
	<table class = 'table'>
		<tr>
			<th></th>
			<th>Name</th>
			<th>Email</th>
			<th>			
			<% if @previous_page %>
				<%= link_to "Previous 25", users_list_friendships_path(:page => @page_num-1, :name => @name), 
				:method => :get, :class => 'btn'%>
			<% end %>		
			
			<% if @next_page %>
				<%= link_to "Next 25", users_list_friendships_path(:page => @page_num+1, :name => @name), 
				:method => :get, :class => 'btn' %>
			<% end %>
			</th>
		</tr>
		<% @users.each do |user| %>
			<% if user != current_user %>
			<tr>
				<td><%= image_tag(user.image_url, :class=>'span4')%></td>
				<td><%= user.name %></td>
				<td><%= user.email%></td>
				
				<% 
				 if current_user.is_friends?(user)
					button_title = "Y'all are buddy buddy"
					button_class = 'btn btn-success'
				 elsif current_user.is_pending_friends?(user)
					button_title = "Pending friend request"
					button_class = 'btn btn-warning'
				 else 
				 	button_title = "Add Friend"
				 	button_class = 'btn'
				 	form_class = 'add_friend_button'
				 end 
				 %>
				 
				<td><%= button_to button_title, 
					friendships_path(:second_id => user.id),
					:method => "post", :class => button_class, :remote => true, :form_class => form_class %></td>
			</tr>
			<%end%>
		<% end %>
	</table>
		<div class = 'container-fluid'>
			<div class = 'span7'>
			</div>
			<div class = 'span5'>
			<% if @previous_page %>
				<%= link_to "Previous 25", users_list_friendships_path(:page => @page_num-1, :name => @name), 
				:method => :get, :class => 'btn'%>
			<% end %>		
			
			<% if @next_page %>
				<%= link_to "Next 25", users_list_friendships_path(:page => @page_num+1, :name => @name), 
				:method => :get, :class => 'btn' %>
			<% end %>
			</div>
		</div>
<% elsif @users == 35 %>
	<h4>No users found.  Search again!</h4>
<% end %>
