<%= form_for(@timeperiod, :remote => true) do |f| %>
  <% if @timeperiod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timeperiod.errors.count, "error") %> prohibited this timeperiod from being saved:</h2>

      <ul>
      <% @timeperiod.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class = 'container-fluid'>
	<div class = 'span6'>
		<em>(yyyy/mm/dd)</em> <br/>
		<%= f.text_field :startDate, :class => 'datepicker', :size => 10, :maxlength => 10 %> 
	</div>
	<div class = 'span6'>
		<em>(hours:minutes)</em> <br/>
		<%= f.text_field :startHour, :size => 5, :maxlength => 5 %>
	</div>
</div>
<div class = 'container-fluid'>
	<div class = 'span6'>
		<%= f.text_field :endDate, :class => 'datepicker', :size => 10, :maxlength => 10%> 
	</div>
	<div class = 'span6'>
		<%= f.text_field :endHour, :size => 5, :maxlength => 5 %>
	</div>
</div>

  	<form action = "/timeperiods">
    <input type = "submit" class = 'btn btn-success' value = "Submit new time" />
    </form>
<% end %>
