<h1>Listing timeperiods</h1>

<table>
  <tr>
    <th>Time</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timeperiods.each do |timeperiod| %>
  <tr>
    <td><%= timeperiod.time %></td>
    <td><%= timeperiod.user_id %></td>
    <td><%= link_to 'Show', timeperiod %></td>
    <td><%= link_to 'Edit', edit_timeperiod_path(timeperiod) %></td>
    <td><%= link_to 'Destroy', timeperiod, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timeperiod', new_timeperiod_path %>
