<!DOCTYPE html>
<html>
<head>
  <link href="http://fonts.googleapis.com/css?family=Schoolbell" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
  <script src = "http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
  <title>BoboCal: Bobo helps you plan all your social events</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= image_tag('BoboLogo.png', :class => 'span2')%>
	<div class = 'navbar'>
		<div class ='navbar-inner'>
				<div class = 'container'>
				<ul class= 'nav'>
					<% if user_signed_in? %>
			  			<h5>Signed in as <%= current_user.email %>. Not you?</h5>
			  			<%= image_tag('TextLogo320100.png', :class => 'span2') %>	
			  			<li><%= button_to  "Sign out", destroy_user_session_path, :method => "delete", :class => 'btn btn-mini'%></li>
			  			
			  			<li><%=button_to "My Profile", user_profile_path(:id => current_user), :class=>'btn btn-mini'%></li>			
					<% else %>
					
					  <%= link_to "Sign up", new_user_registration_path, 
					  :method => :get, :class => 'btn' %> or
					  <%= link_to "Sign in", new_user_session_path, :class => 'btn' %>
					  
					   <br/>
					  
				    	<%= link_to "Sign in with Facebook", omniauth_authorize_path(resource_name, 'facebook'),
				    	:class => 'zocial facebook', :method => :post %>
				    	<%= link_to "Sign in with Google", omniauth_authorize_path(resource_name, 'google_oauth2'),
				    	:class => 'zocial googleplus', :method => :post%>
			    			    	
					<% end %>
					
		  			<% if user_signed_in? %>
			  			<% if current_user.has_requests? %>
			  				<li class = 'btn'><%= link_to "Friend Requests", 
			  				friend_requests_friendships_path , :method => "get" %></li>
			    		<% end %>
		  			<% end %>
		  			
  			</div>
  		</div>
  	</div>
  	<div class = 'container-fluid'>
  		<div class = 'row-fluid'>
	  		<div class = 'span2'>
		  		<div class = 'well sidebar-nav'>
					<ul class = 'nav nav-list'>
						<li>Bobo Manager</li>
						<li class = 'divider'></li>
						<li><%= link_to "Users", users_list_friendships_path, :method => "get", :class => 'btn' %></li>
						</br>
						<li><%= link_to "Friends", user_friends_path, :method => 'get', :class => 'btn' %></li>
						</br>
						<li><%= link_to "Events", events_path, :method => 'get', :class => 'btn' %></li>
						</br>
						<li><%= link_to "Calendars", calendars_path, :method => 'get', :class => 'btn'%></li>
					</ul>
				</div>
		  	</div>
			<div class = 'span10' >
				<% if flash[:warning]%>
					<div class = 'well' id='flash-warning'><h3><%= flash[:warning]%></h3></div>
				<% end %>
				
				<div class = 'hero-unit' id ='center-hero-unit'>
					<div>							
						<center>
							<% if current_user%>
								<% if @event %>
									<p>Bobo is currently planning <%= @event.title %> <br/>				
										<%= link_to 'Change of plans, cancel my event.', @event, 
										 {:style => 'color:#FFFFFF', :confirm => 'Are you sure you want to cancel ' +@event.title+'?', 
										 :method => :delete, :class => 'btn btn-danger'} %>
										 
										<%= link_to 'Continue planning, Bobo', edit_event_path(@event),
										{:style=>'color:#FFFFFF',:class => 'btn btn-inverse'}%>
									</p>
								<% else %>
									<p>Bobo isn't planning an event right now!
									<%= button_to 'Enlist Bobo', new_event_path, :class => 'btn btn-primary', :method => 'get' %>
									</p>
								<% end %>
							<% end %>
						</center>	
					</div>
					<%= yield %>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
